/* Component level CSS, overwrites main.css */

.root {
	text-align: center;
	padding: 100px 0 0 0;
	border: solid grey 1px;
}

.logo {
	width: 200px;
	animation: rotation 60s infinite linear;
}

.label {
	padding: 20px;
	margin: 20px;
	font-family: 'Arial', serif;
	color: darkorange;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
